@font-face {
  font-family: '3270';
  src: url('./3270NerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-FFFF;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "liga" 1, "calt" 1;
}

@font-face {
  font-family: '3270';
  src: url('./3270NerdFont-Condensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0000-FFFF;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "liga" 1, "calt" 1;
}

@font-face {
  font-family: '3270';
  src: url('./3270NerdFont-SemiCondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: semi-condensed;
  unicode-range: U+0000-FFFF;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "liga" 1, "calt" 1;
}

@font-face {
  font-family: '3270 Mono';
  src: url('./3270NerdFontMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-FFFF;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "liga" 1, "calt" 1;
}

@font-face {
  font-family: '3270 Mono';
  src: url('./3270NerdFontMono-Condensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0000-FFFF;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "liga" 1, "calt" 1;
}

@font-face {
  font-family: '3270 Mono';
  src: url('./3270NerdFontMono-SemiCondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: semi-condensed;
  unicode-range: U+0000-FFFF;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "liga" 1, "calt" 1;
}

@font-face {
  font-family: '3270 Propo';
  src: url('./3270NerdFontPropo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-FFFF;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "liga" 1, "calt" 1;
}

@font-face {
  font-family: '3270 Propo';
  src: url('./3270NerdFontPropo-Condensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0000-FFFF;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "liga" 1, "calt" 1;
}

@font-face {
  font-family: '3270 Propo';
  src: url('./3270NerdFontPropo-SemiCondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: semi-condensed;
  unicode-range: U+0000-FFFF;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "liga" 1, "calt" 1;
}
